Repository miniArray/synapse: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, biome, nixfmt, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gitleaks:
      glob: "*"
      run: gitleaks detect --source . --verbose
      fail_text: "Secrets detected! Remove them before committing."
    biome:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    nixfmt:
      glob: "*.nix"
      run: nixfmt {staged_files}
      stage_fixed: true
    prettier:
      glob: "*.{md,yml,yaml}"
      run: prettier --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    build:
      run: bun run build
      fail_text: "Build failed! Fix errors before pushing."

docs(readme): update setup instructions and environment variables
  README.md
  src/index.ts
Due: gitleaks, biome, prettier

feat(flake): add nixos synapse module
  flake.nix
  nix/modules/nixos/synapse/default.nix
Due: gitleaks, nixfmt

feat(synapse): add writable state directory for cache
  nix/modules/nixos/synapse/default.nix
Due: gitleaks, nixfmt

build(flake): replace bun.lock with package-lock.json
  flake.nix
Due: gitleaks, nixfmt

build(flake): refactor nix formatting and modernize
  package-lock.json
  package.json
  src/embed-model.ts
  src/embedding-index.ts
  src/environment.ts
  src/index.ts
  src/processing/parser.ts
  src/processing/pipeline.ts
  src/processing/scanner.ts
  src/processing/watcher.ts
  src/storage/database.test.ts
  src/storage/database.ts
  src/storage/index.ts
  src/tools/search.ts
Due: gitleaks, biome

refactor(types): remove unused ajson data structures
  src/types.ts
Due: gitleaks, biome

docs: expand readme with ollama setup and details
  README.md
Due: gitleaks, prettier

refactor(synapse): add ollama config and improve env handling
  nix/modules/nixos/synapse/default.nix
Due: gitleaks, nixfmt

feat(synapse): pass self to module and set default package
  flake.nix
  nix/modules/nixos/synapse/default.nix
Due: gitleaks, nixfmt

build(flake): improve synapse cache setup and runtime
  flake.nix
Due: gitleaks, nixfmt

fix(watcher): handle permission errors gracefully
  src/processing/watcher.ts
Due: gitleaks, biome

fix(nixos): support running as real user for vault access
  nix/modules/nixos/synapse/default.nix
Due: gitleaks, nixfmt

fix(sse): use relative endpoint path for proxy compatibility
  src/sse-transport.ts
Due: gitleaks, biome

fix(sse): add 5s grace period for session cleanup
  src/index.ts
Due: gitleaks, biome
